###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/build/
/var/
/vendor/
.php-cs-fixer.cache
/node_modules
###< symfony/framework-bundle ###

###> phpStorm ###
.idea
###< phpStorm ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
###> Keys
public.key
private.key
###< Keys

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
/.php_cs.cache
/docker/db-data/
